<body ng-app="homeapp">

    <div align="center">
    
<h2>{{title}}</h2>
</div>
    
           <div align="center" >
            <input placeholder="Location Name" #place >
            <input placeholder="Language e.g. Java" #language>
            <button (click)="search(place.value, language.value)">Search</button>
               </div>
               <br>
               <div ng-controller="logincontrol">

          Username <input ng-model="Fname"  (blur)="validation(Fname.value)" placeholder="Fristname" #Fname ><br>
          
           <br>
            Password <input ng-model="pword"  (blur)="validation1(pword.value)" placeholder="password" #pword ><br>
            </div>

            <div ng-controller="myCtrl">
                <button ng-click="myFunc()">Submit</button>
                <p>{{str}}</p>
            </div>


            <form name="form">
                <div ng-hide="isShow">
                    User Name  <input type="text" required ng-model="userName" /><br /><br />
                    Password <input type="password" required ng-model="password" /><br /><br />
                    <input type="button" ng-disabled="form.$invalid" ng-click="isShow = true" value="Login" />
                </div>
                <div ng-show="isShow">
                    Successfully Login.<br />
                    <input type="button" ng-click="isShow = false;password='';userName=''" value="Logout" />
                </div>
            </form>
       







            
            



        </body>