<body ng-app="homeapp">

    <div align="center">
    
<h2>{{title}}</h2>
</div>
    
           <div align="center" >
            <input placeholder="Location Name" #place >
            <input placeholder="Language e.g. Java" #language>
            <button (click)="search(place.value, language.value)">Search</button>
               </div>
               <br>
               <div ng-controller="logincontrol">

          Username <input ng-model="Fname"  (blur)="validation(Fname.value)" placeholder="Fristname" #Fname ><br>
            <span id="errfn" ></span>
            Password <input ng-model="pword"  (blur)="validation1(pword.value)" placeholder="password" #pword ><br>
            </div>

            <div ng-controller="myCtrl">
                <button ng-click="myFunc()">Submit</button>
                <p>The button has been clicked {{count}} times.</p>
            </div>
       







            
            



        </body>